.Menu2{
    background-color: blue;
    width: 100%;
    height: 200px;
    position: fixed;
}

.elementos{
    justify-content: center;
}

.foto{
   
    padding-bottom:-100px;
}

.textinho{
    color: white;
    padding-right:5px;
    margin-top: 1px; 
   
}

