.Menu{
    background-color: blue;
    width: 100%;
    height: 110px;
    
}

.logo{
    position: static;
    display: flex;  
    justify-content: center;
    padding: 7px;
}

.elementos-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
} 

.link{
    color: white;
    text-decoration: none;
}